In [1]:
import pandas as pd

In [2]:
pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48201")

[                                                     0  \
 0                           POPULATION (Census Bureau)
 1         County Population «History» «Group Quarters»
 2                                       Estimate 2020:
 3                                       Estimate 2019:
 4                                       Estimate 2018:
 ..                                                 ...
 152  County Agricultural Profile (USDA): «Census of...
 153  State & County QuickFacts (Census Bureau): «Ha...
 154  State & County Narrative Profiles (Census Bure...
 155  County History (Handbook of Texas Online): «Ha...
 156  Texas Almanac (Texas State Historical Associat...

                                                      1  \
 0                           POPULATION (Census Bureau)
 1         County Population «History» «Group Quarters»
 2                                              4738253
 3                                              4709243
 4                                              4676913
 ..                                                 ...
 152  County Agricultural Profile (USDA): «Census of...
 153  State & County QuickFacts (Census Bureau): «Ha...
 154  State & County Narrative Profiles (Census Bure...
 155  County History (Handbook of Texas Online): «Ha...
 156  Texas Almanac (Texas State Historical Associat...

                                                      2
 0                           POPULATION (Census Bureau)
 1         County Population «History» «Group Quarters»
 2                                            More data
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 152  County Agricultural Profile (USDA): «Census of...
 153  State & County QuickFacts (Census Bureau): «Ha...
 154  State & County Narrative Profiles (Census Bure...
 155  County History (Handbook of Texas Online): «Ha...
 156  Texas Almanac (Texas State Historical Associat...

 [157 rows x 3 columns]]

In [3]:
#houston and surrounding counties
#find the info useful to our research and merge into one data frame, including Harris county
df_harris = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48201")
df_harris

[                                                     0  \
 0                           POPULATION (Census Bureau)
 1         County Population «History» «Group Quarters»
 2                                       Estimate 2020:
 3                                       Estimate 2019:
 4                                       Estimate 2018:
 ..                                                 ...
 152  County Agricultural Profile (USDA): «Census of...
 153  State & County QuickFacts (Census Bureau): «Ha...
 154  State & County Narrative Profiles (Census Bure...
 155  County History (Handbook of Texas Online): «Ha...
 156  Texas Almanac (Texas State Historical Associat...

                                                      1  \
 0                           POPULATION (Census Bureau)
 1         County Population «History» «Group Quarters»
 2                                              4738253
 3                                              4709243
 4                                              4676913
 ..                                                 ...
 152  County Agricultural Profile (USDA): «Census of...
 153  State & County QuickFacts (Census Bureau): «Ha...
 154  State & County Narrative Profiles (Census Bure...
 155  County History (Handbook of Texas Online): «Ha...
 156  Texas Almanac (Texas State Historical Associat...

                                                      2
 0                           POPULATION (Census Bureau)
 1         County Population «History» «Group Quarters»
 2                                            More data
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 152  County Agricultural Profile (USDA): «Census of...
 153  State & County QuickFacts (Census Bureau): «Ha...
 154  State & County Narrative Profiles (Census Bure...
 155  County History (Handbook of Texas Online): «Ha...
 156  Texas Almanac (Texas State Historical Associat...

 [157 rows x 3 columns]]

In [4]:
df_fortbend = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48157")

In [5]:
df_montegomery = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48339")

In [6]:
df_trinity = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48455")

In [7]:
df_galveston = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48167")

In [52]:
url_fortbend="https://txcip.org/tac/census/profile.php?FIPS=48157"
url_montgomery="https://txcip.org/tac/census/profile.php?FIPS=48339"
url_trinity="https://txcip.org/tac/census/profile.php?FIPS=48455"
url_galveston="https://txcip.org/tac/census/profile.php?FIPS=48167"
url_harris="https://txcip.org/tac/census/profile.php?FIPS=48201"

groupurl=[url_harris, url_fortbend, url_montgomery, url_trinity, url_galveston]
print(groupurl)

# df_income_smry=pd.DataFrame([])
# for url_i in url:
#     print(url_i)
#     demog=pd.read_html(url_i)
#     df_county_name=df_demog[df_demog[0].str.contains('POPULATION OF')]
#     str1=str(df_county_name[0]).split("POPULATION OF PLACES IN ")[1]
#     str2=str(str1).split(" - ")
#     df_demog=demog[0]
#     df_demog['County']=str2[0]
#     df_income=df_demog[df_demog[0].str.contains('Income - 2019')]
#     df_income_smry_temp=pd.DataFrame(df_income.pivot(index='County', columns=[0], values=[1]))
#     df_income_smry=pd.concat([df_income_smry,df_income_smry_temp[1]])
# df_income_smry

['https://txcip.org/tac/census/profile.php?FIPS=48201', 'https://txcip.org/tac/census/profile.php?FIPS=48157', 'https://txcip.org/tac/census/profile.php?FIPS=48339', 'https://txcip.org/tac/census/profile.php?FIPS=48455', 'https://txcip.org/tac/census/profile.php?FIPS=48167']

In [18]:
# The population as of July 1, 2019 as estimated by the United States Census Bureau
state_county_data=pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_counties_and_county_equivalents#cite_note-14")
state_county_data_clean=state_county_data[0]
state_county_data_clean=state_county_data_clean.rename(columns={'County or equivalent':'County',
                                                                'State or equivalent':'State',
                                                               'Population (2019 estimate)':'Pop2019'})
state_county_data_clean=state_county_data_clean[['County','State','Pop2019']]
state_county_data_clean['County']=state_county_data_clean['County'].str.upper() + " COUNTY"
state_county_data_clean['State']=state_county_data_clean['State'].str.upper()
state_county_data_clean

                 County    State  Pop2019
0        AUTAUGA COUNTY  ALABAMA    55869
1        BALDWIN COUNTY  ALABAMA   223234
2        BARBOUR COUNTY  ALABAMA    24686
3           BIBB COUNTY  ALABAMA    22394
4         BLOUNT COUNTY  ALABAMA    57826
...                 ...      ...      ...
3240  SWEETWATER COUNTY  WYOMING    42343
3241       TETON COUNTY  WYOMING    23464
3242       UINTA COUNTY  WYOMING    20226
3243    WASHAKIE COUNTY  WYOMING     7805
3244      WESTON COUNTY  WYOMING     6927

[3245 rows x 3 columns]

In [31]:
harris_countydf=state_county_data_clean[(state_county_data_clean['County'].str.contains('HARRIS ')) & (state_county_data_clean['State'].str.contains('TEXAS'))]
harris_countydf

             County  State  Pop2019
2712  HARRIS COUNTY  TEXAS  4713325

In [53]:
trin_countydf=state_county_data_clean[(state_county_data_clean['County'].str.contains('TRINITY ')) & (state_county_data_clean['State'].str.contains('TEXAS'))]
trin_countydf

              County  State  Pop2019
2839  TRINITY COUNTY  TEXAS    14393

In [54]:
mont_countydf=state_county_data_clean[(state_county_data_clean['County'].str.contains('MONTGOMERY ')) & (state_county_data_clean['State'].str.contains('TEXAS'))]
mont_countydf

                 County  State  Pop2019
2781  MONTGOMERY COUNTY  TEXAS   607391

In [55]:
fb_countydf=state_county_data_clean[(state_county_data_clean['County'].str.contains('FORT BEND ')) & (state_county_data_clean['State'].str.contains('TEXAS'))]
fb_countydf

                County  State  Pop2019
2690  FORT BEND COUNTY  TEXAS   811688

In [56]:
galv_countydf=state_county_data_clean[(state_county_data_clean['County'].str.contains('GALVESTON ')) & (state_county_data_clean['State'].str.contains('TEXAS'))]
galv_countydf

                County  State  Pop2019
2695  GALVESTON COUNTY  TEXAS   342139

In [46]:
# Merge two dataframes using an inner join
# crypto_df = pd.merge(harris_countydf, trin_countydf, on="State")
# crypto_df.head()

In [93]:
#population estimate as of July 2020
pop_est_2020=pd.read_html("https://txcip.org/tac/census/morecountyinfo.php?MORE=1044")
pop_est_2020=pop_est_2020[0]
# pop_est_2020=pd.DataFrame(pop_est_2020[0])
# pop_est_2020=pd.DataFrame(pop_est_2020[1])
pop_est_2020

,0,1
0,2020 Population Estimates from the U. S. Censu...,2020 Population Estimates from the U. S. Censu...
1,Anderson,57805
2,Andrews,18879
3,Angelina,86796
4,Aransas,23814
...,...,...
250,Wood,46291
251,Yoakum,8702
252,Young,17904
253,Zapata,14172
254,Zavala,11840

In [13]:
# The population as of July 1, 2019 as estimated by the United States Census Bureau; another table
pop=pd.read_html("https://www.texas-demographics.com/counties_by_population")
pop=pd.DataFrame(pop[0]).drop('Rank', axis=1)
pop['County']=pop['County'].str.upper()
pop

,County,Population
0,HARRIS COUNTY,4646630
1,DALLAS COUNTY,2606868
2,TARRANT COUNTY,2049770
3,BEXAR COUNTY,1952843
4,TRAVIS COUNTY,1226805
...,...,...
248,BORDEN COUNTY,613
249,KENEDY COUNTY,568
250,KING COUNTY,237
251,LOVING COUNTY,98
252,UNITED STATES CENSUS BUREAU. ANNUAL ESTIMATES ...,United States Census Bureau. Annual Estimates ...