In [1]:
import pandas as pd

In [2]:
pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48201")

[                                                     0  \
 0                           POPULATION (Census Bureau)
 1         County Population «History» «Group Quarters»
 2                                       Estimate 2020:
 3                                       Estimate 2019:
 4                                       Estimate 2018:
 ..                                                 ...
 152  County Agricultural Profile (USDA): «Census of...
 153  State & County QuickFacts (Census Bureau): «Ha...
 154  State & County Narrative Profiles (Census Bure...
 155  County History (Handbook of Texas Online): «Ha...
 156  Texas Almanac (Texas State Historical Associat...

                                                      1  \
 0                           POPULATION (Census Bureau)
 1         County Population «History» «Group Quarters»
 2                                              4738253
 3                                              4709243
 4                                              4676913
 ..                                                 ...
 152  County Agricultural Profile (USDA): «Census of...
 153  State & County QuickFacts (Census Bureau): «Ha...
 154  State & County Narrative Profiles (Census Bure...
 155  County History (Handbook of Texas Online): «Ha...
 156  Texas Almanac (Texas State Historical Associat...

                                                      2
 0                           POPULATION (Census Bureau)
 1         County Population «History» «Group Quarters»
 2                                            More data
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 152  County Agricultural Profile (USDA): «Census of...
 153  State & County QuickFacts (Census Bureau): «Ha...
 154  State & County Narrative Profiles (Census Bure...
 155  County History (Handbook of Texas Online): «Ha...
 156  Texas Almanac (Texas State Historical Associat...

 [157 rows x 3 columns]]

In [143]:
#houston and surrounding counties
#find the info useful to our research and merge into one data frame, including Harris county
# df_harris = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48201")
# df_harris

In [4]:
df_fortbend = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48157")

In [5]:
df_montegomery = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48339")

In [6]:
df_trinity = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48455")

In [7]:
df_galveston = pd.read_html("https://txcip.org/tac/census/profile.php?FIPS=48167")

In [113]:
url_fortbend="https://txcip.org/tac/census/profile.php?FIPS=48157"
url_montgomery="https://txcip.org/tac/census/profile.php?FIPS=48339"
url_trinity="https://txcip.org/tac/census/profile.php?FIPS=48455"
url_galveston="https://txcip.org/tac/census/profile.php?FIPS=48167"
url_harris="https://txcip.org/tac/census/profile.php?FIPS=48201"

#Income data per Census Bureau (2019)
groupurl=[url_harris, url_fortbend, url_montgomery, url_trinity, url_galveston]
print(groupurl)

df_income_smry=pd.DataFrame([])
for url_i in groupurl:
    print(url_i)
    demog=pd.read_html(url_i)
    df_demog=demog[0]
    df_county_name=df_demog[df_demog[0].str.contains('POPULATION OF')]
    str1=str(df_county_name[0]).split("POPULATION OF PLACES IN ")[1]
    str2=str(str1).split(" - ")
    df_demog=demog[0]
    df_demog['County']=str2[0]
    df_income=df_demog[df_demog[0].str.contains('Income - 2019')]
    df_income_smry_temp=pd.DataFrame(df_income.pivot(index='County', columns=[0], values=[1]))
    df_income_smry=pd.concat([df_income_smry,df_income_smry_temp[1]])
df_income_smry

['https://txcip.org/tac/census/profile.php?FIPS=48201', 'https://txcip.org/tac/census/profile.php?FIPS=48157', 'https://txcip.org/tac/census/profile.php?FIPS=48339', 'https://txcip.org/tac/census/profile.php?FIPS=48455', 'https://txcip.org/tac/census/profile.php?FIPS=48167']
https://txcip.org/tac/census/profile.php?FIPS=48201
https://txcip.org/tac/census/profile.php?FIPS=48157
https://txcip.org/tac/census/profile.php?FIPS=48339
https://txcip.org/tac/census/profile.php?FIPS=48455
https://txcip.org/tac/census/profile.php?FIPS=48167

                          1        1                 1
County
HARRIS COUNTY       $61,638  $60,002  $282,809,166,000
FORT BEND COUNTY   $101,361  $59,653   $48,419,712,000
MONTGOMERY COUNTY   $88,833  $63,424   $38,523,113,000
TRINITY COUNTY      $43,788  $36,062      $528,344,000
GALVESTON COUNTY    $73,214  $54,250   $18,561,154,000

In [117]:
 df_income_smry_temp

                                                               1  \
0                Median Household Income - 2019 (Census Bureau):
County
GALVESTON COUNTY                                         $73,214

                                                  \
0                Per Capita Income - 2019 (BEA):
County
GALVESTON COUNTY                         $54,250


0                Total Personal Income - 2019 (BEA):
County
GALVESTON COUNTY                     $18,561,154,000

In [149]:
#renaming columns

# df_income_smry.rename({
#     "1":"Median Household Income"
# })

# Per Capita Income
# Total Personal Income
# Median Household Income (1st)

In [148]:
#Unemplyment data per county 
"Unemployment Rate - 2020"

df_unemploymt_smry=pd.DataFrame([])

for url_i in groupurl:
#     print(url_i)
    demog=pd.read_html(url_i)
    df_demog=demog[0]
    df_county_name=df_demog[df_demog[0].str.contains('POPULATION OF')]
    str1=str(df_county_name[0]).split("POPULATION OF PLACES IN ")[1]
    str2=str(str1).split(" - ")
    df_demog=demog[0]
    df_demog['County']=str2[0]
    df_unemploy=df_demog[df_demog[0].str.contains('Rate - 2020')]
    df_unemploymt_smry_temp=pd.DataFrame(df_unemploy.pivot(index='County', columns=[0], values=[1]))
    df_unemploymt_smry=pd.concat([df_unemploymt_smry,df_unemploymt_smry_temp[1]])
df_unemploymt_smry

                     1
County
HARRIS COUNTY      8.9
FORT BEND COUNTY   7.7
MONTGOMERY COUNTY  7.5
TRINITY COUNTY     8.1
GALVESTON COUNTY   8.7

In [150]:
#Unemplyment data per county 
"Unemployment Rate - 2019"

df_unemploymt19_smry=pd.DataFrame([])

for url_i in groupurl:
#     print(url_i)
    demog=pd.read_html(url_i)
    df_demog=demog[0]
    df_county_name=df_demog[df_demog[0].str.contains('POPULATION OF')]
    str1=str(df_county_name[0]).split("POPULATION OF PLACES IN ")[1]
    str2=str(str1).split(" - ")
    df_demog=demog[0]
    df_demog['County']=str2[0]
    df_unemploy=df_demog[df_demog[0].str.contains('Rate - 2019')]
    df_unemploymt_smry_temp=pd.DataFrame(df_unemploy.pivot(index='County', columns=[0], values=[1]))
    df_unemploymt19_smry=pd.concat([df_unemploymt19_smry,df_unemploymt_smry_temp[1]])
df_unemploymt19_smry

                     1
County
HARRIS COUNTY      3.9
FORT BEND COUNTY   3.5
MONTGOMERY COUNTY  3.4
TRINITY COUNTY     4.8
GALVESTON COUNTY   4.0

In [151]:
#Unemplyment data per county 
"Unemployment Rate - 2018"

df_unemploymt18_smry=pd.DataFrame([])

for url_i in groupurl:
#     print(url_i)
    demog=pd.read_html(url_i)
    df_demog=demog[0]
    df_county_name=df_demog[df_demog[0].str.contains('POPULATION OF')]
    str1=str(df_county_name[0]).split("POPULATION OF PLACES IN ")[1]
    str2=str(str1).split(" - ")
    df_demog=demog[0]
    df_demog['County']=str2[0]
    df_unemploy=df_demog[df_demog[0].str.contains('Rate - 2018')]
    df_unemploymt_smry_temp=pd.DataFrame(df_unemploy.pivot(index='County', columns=[0], values=[1]))
    df_unemploymt18_smry=pd.concat([df_unemploymt18_smry,df_unemploymt_smry_temp[1]])
df_unemploymt18_smry

                     1
County
HARRIS COUNTY      4.4
FORT BEND COUNTY   4.0
MONTGOMERY COUNTY  3.8
TRINITY COUNTY     5.2
GALVESTON COUNTY   4.7

In [18]:
# The population as of July 1, 2019 as estimated by the United States Census Bureau - all US
state_county_data=pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_counties_and_county_equivalents#cite_note-14")
state_county_data_clean=state_county_data[0]
state_county_data_clean=state_county_data_clean.rename(columns={'County or equivalent':'County',
                                                                'State or equivalent':'State',
                                                               'Population (2019 estimate)':'Pop2019'})
state_county_data_clean=state_county_data_clean[['County','State','Pop2019']]
state_county_data_clean['County']=state_county_data_clean['County'].str.upper() + " COUNTY"
state_county_data_clean['State']=state_county_data_clean['State'].str.upper()
state_county_data_clean

                 County    State  Pop2019
0        AUTAUGA COUNTY  ALABAMA    55869
1        BALDWIN COUNTY  ALABAMA   223234
2        BARBOUR COUNTY  ALABAMA    24686
3           BIBB COUNTY  ALABAMA    22394
4         BLOUNT COUNTY  ALABAMA    57826
...                 ...      ...      ...
3240  SWEETWATER COUNTY  WYOMING    42343
3241       TETON COUNTY  WYOMING    23464
3242       UINTA COUNTY  WYOMING    20226
3243    WASHAKIE COUNTY  WYOMING     7805
3244      WESTON COUNTY  WYOMING     6927

[3245 rows x 3 columns]

In [141]:
#filtered state/county data clean df
txpop_unfiltered=state_county_data_clean[(state_county_data_clean['County']=='Harris' )|(state_county_data_clean['County']=='Trinity')|(state_county_data_clean['County']=='Trinity')|(state_county_data_clean['County']=='Montgomery')|(state_county_data_clean['County']=='Galveston')|(state_county_data_clean['County']=='Fort Bend')]
clean_txpop2019=txpop_unfiltered[txpop_unfiltered['State']=='Texas']
clean_txpop2019

,County,State,Population (2019 estimate),Core Based Statistical Area
2690,Fort Bend,Texas,811688,"Houston-The Woodlands-Sugar Land, TX Metropoli..."
2695,Galveston,Texas,342139,"Houston-The Woodlands-Sugar Land, TX Metropoli..."
2712,Harris,Texas,4713325,"Houston-The Woodlands-Sugar Land, TX Metropoli..."
2781,Montgomery,Texas,607391,"Houston-The Woodlands-Sugar Land, TX Metropoli..."
2839,Trinity,Texas,14393,"Huntsville, TX Micropolitan Statistical Area"

In [154]:
#population estimate as of July 2020
pop_est_2020=pd.read_html("https://txcip.org/tac/census/morecountyinfo.php?MORE=1044")
pop_est_2020=pop_est_2020[0]

pop_est_2020.rename(columns=pop_est_2020.iloc[0]).drop(pop_est_2020.index[0], inplace=True)
cleanpop_est_2020=pop_est_2020[(pop_est_2020[0]=='Harris' )|(pop_est_2020[0]=='Trinity')|(pop_est_2020[0]=='Trinity')|(pop_est_2020[0]=='Montgomery')|(pop_est_2020[0]=='Galveston')|(pop_est_2020[0]=='Fort Bend')]

cleanpop_est_2020

              0        1
79    Fort Bend   839706
84    Galveston   345089
101      Harris  4738253
170  Montgomery   626351
228     Trinity    14883

In [13]:
# The population as of July 1, 2019 as estimated by the United States Census Bureau
#same as wiki source above

pop=pd.read_html("https://www.texas-demographics.com/counties_by_population")
pop=pd.DataFrame(pop[0]).drop('Rank', axis=1)
pop['County']=pop['County'].str.upper()
pop

,County,Population
0,HARRIS COUNTY,4646630
1,DALLAS COUNTY,2606868
2,TARRANT COUNTY,2049770
3,BEXAR COUNTY,1952843
4,TRAVIS COUNTY,1226805
...,...,...
248,BORDEN COUNTY,613
249,KENEDY COUNTY,568
250,KING COUNTY,237
251,LOVING COUNTY,98
252,UNITED STATES CENSUS BUREAU. ANNUAL ESTIMATES ...,United States Census Bureau. Annual Estimates ...

In [146]:
#population estimate as of July 2019
txdem_unfiltered=pop[(pop['County']=='Harris' )|(pop['County']=='Trinity')|(pop['County']=='Trinity')|(pop['County']=='Montgomery')|(pop['County']=='Galveston')|(pop['County']=='Fort Bend')]
clean_txpop2019

,County,State,Population (2019 estimate),Core Based Statistical Area
2690,Fort Bend,Texas,811688,"Houston-The Woodlands-Sugar Land, TX Metropoli..."
2695,Galveston,Texas,342139,"Houston-The Woodlands-Sugar Land, TX Metropoli..."
2712,Harris,Texas,4713325,"Houston-The Woodlands-Sugar Land, TX Metropoli..."
2781,Montgomery,Texas,607391,"Houston-The Woodlands-Sugar Land, TX Metropoli..."
2839,Trinity,Texas,14393,"Huntsville, TX Micropolitan Statistical Area"