In [1]:
# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read in redfin csv sample
redfin_sample=pd.read_csv("data/redfin/redfin_77002.csv")
redfin_sample

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
0,PAST SALE,NaN,Condo/Co-op,2016 Main St #1604,Houston,TX,77002,NaN,2.0,2.0,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/2016-Main-St-...,HARMLS,NaN,N,Y,29.749228,-95.371698
1,PAST SALE,NaN,Condo/Co-op,2016 Main St #802,Houston,TX,77002,NaN,2.0,2.0,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/2016-Main-St-...,HARMLS,NaN,N,Y,29.749228,-95.371698
2,PAST SALE,NaN,Condo/Co-op,1120 Texas St Unit 5C,Houston,TX,77002,NaN,2.0,1.0,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/1120-Texas-St...,HARMLS,NaN,N,Y,29.758782,-95.361215
3,PAST SALE,August-12-2016,Condo/Co-op,2016 Main St #1813,Houston,TX,77002,139900.0,1.0,1.0,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/2016-Main-St-...,HARMLS,98130968.0,N,Y,29.749228,-95.371698
4,PAST SALE,July-13-2017,Condo/Co-op,915 Franklin St Unit 5I,Houston,TX,77002,245000.0,1.0,1.0,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/915-Franklin-...,HARMLS,92705644.0,N,Y,29.763444,-95.360507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,PAST SALE,June-30-2017,Townhouse,2251 Austin St,Houston,TX,77002,315000.0,2.0,2.5,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/2251-Austin-S...,HARMLS,77714348.0,N,Y,29.745269,-95.368954
346,PAST SALE,September-4-2019,Condo/Co-op,2016 Main St #2409,Houston,TX,77002,99000.0,0.0,1.0,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/2016-Main-St-...,HARMLS,76173717.0,N,Y,29.749228,-95.371698
347,PAST SALE,June-26-2017,Condo/Co-op,300 St Joseph Pkwy #405,Houston,TX,77002,479500.0,3.0,2.5,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/300-St-Joseph...,HARMLS,72156348.0,N,Y,29.753296,-95.376133
348,PAST SALE,NaN,Condo/Co-op,915 Franklin St Unit 6K,Houston,TX,77002,NaN,1.0,1.0,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/915-Franklin-...,HARMLS,NaN,N,Y,29.763444,-95.360507
349,PAST SALE,April-15-2019,Condo/Co-op,915 Franklin St Unit 5F,Houston,TX,77002,176500.0,1.0,1.0,...,Sold,NaN,NaN,http://www.redfin.com/TX/Houston/915-Franklin-...,HARMLS,52259030.0,N,Y,29.763444,-95.360507

In [16]:
# filter only SOLD data
redfin_sold=redfin_sample[redfin_sample['SALE TYPE']=="PAST SALE"]
redfin_sold.columns

Index(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY',
       'STATE OR PROVINCE', 'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS',
       'LOCATION', 'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', 'DAYS ON MARKET',
       '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME',
       'URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [4]:
redfin_sold_group_by_type=redfin_sold.groupby('PROPERTY TYPE')
redfin_sold_group_by_type.describe()

                           PRICE                                            \
                           count            mean            std        min
PROPERTY TYPE
Condo/Co-op                288.0   288335.940972  175058.894400    89750.0
Single Family Residential    5.0   447760.000000   61463.265452   350000.0
Townhouse                   20.0   363029.900000  102063.554019   236999.0
Vacant Land                  1.0  1000000.000000            NaN  1000000.0

                                                                        BEDS  \
                                 25%        50%        75%        max  count
PROPERTY TYPE
Condo/Co-op                 189000.0   249000.0   325000.0  1825000.0  319.0
Single Family Residential   449000.0   454900.0   465000.0   519900.0    7.0
Townhouse                   313750.0   332450.0   401175.0   699000.0   21.0
Vacant Land                1000000.0  1000000.0  1000000.0  1000000.0    1.0

                                     ...   LATITUDE            LONGITUDE  \
                               mean  ...        75%        max     count
PROPERTY TYPE                        ...
Condo/Co-op                1.379310  ...  29.758713  29.766590     320.0
Single Family Residential  2.857143  ...  29.757417  29.768360       8.0
Townhouse                  2.619048  ...  29.750113  29.767545      21.0
Vacant Land                1.000000  ...  29.757648  29.757648       1.0

                                                                      \
                                mean       std        min        25%
PROPERTY TYPE
Condo/Co-op               -95.368017  0.006237 -95.377337 -95.375975
Single Family Residential -95.370686  0.011770 -95.378972 -95.378557
Townhouse                 -95.374192  0.008641 -95.387748 -95.378335
Vacant Land               -95.370308       NaN -95.370308 -95.370308


                                 50%        75%        max
PROPERTY TYPE
Condo/Co-op               -95.364954 -95.362868 -95.356788
Single Family Residential -95.378011 -95.364494 -95.352312
Townhouse                 -95.369963 -95.368367 -95.354397
Vacant Land               -95.370308 -95.370308 -95.370308

[4 rows x 112 columns]

In [5]:
test=pd.read_html("https://web.har.com/zipcode")

In [6]:
test[0]

                                                   0
0  Zip Code Profile  The list below consists of z...

In [7]:
test[1]

                                                   0
0                                   Zip Code Profile
1  The list below consists of zip codes residing ...

In [8]:
test[2]

,0,1,2,3
0,Zip Code,City (City Alias Name(s)),County,NaN
1,77002,"Houston - Inner Loop (HOUSTON,CLUTCH CITY,)",HARRIS,"77002 Details, Real Estate, Subdivisions and M..."
2,77003,"Houston - Inner Loop (HOUSTON,)",HARRIS,"77003 Details, Real Estate, Subdivisions and M..."
3,77004,"Houston - Inner Loop (HOUSTON,)",HARRIS,"77004 Details, Real Estate, Subdivisions and M..."
4,77005,"Houston - Inner Loop (HOUSTON,SOUTHSIDE PLACE,...",HARRIS,"77005 Details, Real Estate, Subdivisions and M..."
...,...,...,...,...
215,77591,TEXAS CITY,GALVESTON,"77591 Details, Real Estate, Subdivisions and M..."
216,77598,"WEBSTER (FONDREN,WEBSTER,)",HARRIS,"77598 Details, Real Estate, Subdivisions and M..."
217,77617,"GILCHRIST (CAPLEN,GILCHRIST,)",GALVESTON,"77617 Details, Real Estate, Subdivisions and M..."
218,77623,HIGH ISLAND,GALVESTON,"77623 Details, Real Estate, Subdivisions and M..."
219,77650,"PORT BOLIVAR (BOLIVAR,CRYSTAL BEACH,PORT BOLIV...",GALVESTON,"77650 Details, Real Estate, Subdivisions and M..."

In [9]:
col_names=test[2].loc[0,:]

In [10]:
zip_data=pd.DataFrame(test[2].loc[1:,:2])#, columns=['Zip Code','City/City Alias Name(s)','County'])
zip_data.columns

Int64Index([0, 1, 2], dtype='int64')

In [11]:
zip_data.columns=['Zip Code','City/City Alias Name(s)','County']
zip_data

    Zip Code                            City/City Alias Name(s)     County
1      77002        Houston - Inner Loop (HOUSTON,CLUTCH CITY,)     HARRIS
2      77003                    Houston - Inner Loop (HOUSTON,)     HARRIS
3      77004                    Houston - Inner Loop (HOUSTON,)     HARRIS
4      77005  Houston - Inner Loop (HOUSTON,SOUTHSIDE PLACE,...     HARRIS
5      77006                    Houston - Inner Loop (HOUSTON,)     HARRIS
..       ...                                                ...        ...
215    77591                                         TEXAS CITY  GALVESTON
216    77598                         WEBSTER (FONDREN,WEBSTER,)     HARRIS
217    77617                      GILCHRIST (CAPLEN,GILCHRIST,)  GALVESTON
218    77623                                        HIGH ISLAND  GALVESTON
219    77650  PORT BOLIVAR (BOLIVAR,CRYSTAL BEACH,PORT BOLIV...  GALVESTON

[219 rows x 3 columns]

In [15]:
zip_data_harris=zip_data[zip_data['County']=="HARRIS"]
print("Harris" + str(zip_data_harris.shape))

zip_data_houston=zip_data[zip_data['City/City Alias Name(s)'].str.contains("ouston")]
print("Harris/Houston" + str(zip_data_houston.shape))

Harris(133, 3)
Harris/Houston(96, 3)

In [ ]:
import webbrowser as web

for my_zip in zip_data_houston['Zip Code']:
    web.open("https://www.redfin.com/zipcode/"+my_zip + "/filter/include=sold-5yr")